*{
    margin: 0;
    padding: 0;
    font-family: 'Marcellus', serif;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

header{
    background-color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.logo{
    margin: 10px;
    font-size: 20px;
    font-weight: 300;
}
.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.nav-links li{
    margin: 10px;
    font-size: 20px;
    font-weight: 300;
}
.main{
    display: flex;
    background-color: #003657;
}
.home{
    width: 100%;
    height: 100vh;
}
.dashboard{
    width: 20%;
    height: 49em;
    background-color:#004977e6;
}
.top{
    padding: 30px;
}
.top-list{
    display: flex;
    padding-bottom: 35px;
}
.top-list i{
    margin-right: 10px;
    margin-top: 3px;
}
.top-list p{
    font-size: 18px;
    font-weight: 400;
    color: white;
}
.bottom{
    padding-right: 30px;
    padding-left: 30px;
}
.credit-card{
    width: 14em;
    height: 16em;
    background-color:#003657;
    border-radius: 3px;
}
.credit-card h2{
    text-align: center;
    padding-top: 10px;
    font-size: 19px;
    font-weight: 500;
    color: white;
}
.rating{
    margin-left:auto;
    margin-right: auto;
    margin-top: 10px;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    border: 7px solid #1ed760;
    border-inline-end-color:#034771;
}
.rating-no , .rating-text{
    text-align: center;
    color:white;
}
.rating-no{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 15px;
    font-size: 35px;
    font-weight: 400;
}
.rating-text{
    font-size:18px;
    font-weight: 500;
}
.credit-date,.credit-score{
    text-align: center;
    color: white;
}
.credit-date{
    font-size: 15px;
    margin: 10px;
}
.credit-score{
    font-size: 16px;
}
.new-accn{
    display: flex;
    width: 14em;
    height: 2em;
    background-color: #003657;
    margin-top: 20px;
    border-radius: 3px;
}
.new-accn i{
    margin: 8px;
    padding-left:10px ;
}
.new-accn h2{
    font-size: 18px;
    font-weight: 400;
    margin: 5px;
    color: white;
}
.main-page{
    width: 38%;
    height: 50em;
    margin: 15px;
}
.balance{
    background-color: white;
    border-radius: 3px;
}
.balance-top{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.balance-top i{
    padding-right: 10px;
}
.balance-top h3{
    font-size: 19px;
    font-weight: 700;
}
.balance-amt, .balance-txt{
    margin-right: 20px;
    margin-left: 20px;
}
.balance-amt{
    font-size: 35px;
    font-weight: 700;
}
.balance-txt{
    font-size: 15px;
    margin-top: 5px;
}
.balance-bottom{
    margin: 20px;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
}
.balance-bottom h3{
    font-size: 15px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
}
.balance-bottom p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #003657;
}
.trans{
    background-color: white;
    border-radius: 3px;
    padding: 15px;
}
.trans h2{
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 20px;
}
.table{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    padding-top: 10px;
}
.table-icon{
    background-color: aliceblue;
    width: 3em;
    height: 3em;
    border-radius: 50%;
}
.table-icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.table-content{
     padding-left: 10px;
}
.table-content h3{
    font-size: 17px;
    font-weight: 500;
}
.table-content p{
    font-size: 15px;
    padding-top: 5px;
}
.table-money{
    margin-left: 16.5em;
    margin-right: 5px;
}
.table-money h3{
    text-align: end;
    font-size: 18px;
}
.table-money p{
    font-size: 14px;
}
.table-bottom{
    text-align: end;
    margin-top: 8px;
    padding-right: 5px;
    color: #003657;
    font-weight: 500;
    font-size: 15px;
}
.upcomming-bank-spending{
    width: 39%;
}
.upcomming-trans{
    background-color: white;
    border-radius: 3px;
    padding: 15px;
    margin-top: 15px;
}
.upcomming-trans h2{
    font-size: 20px;
    margin-bottom: 20px
}
.banking-features{
    background-color: white;
    border-radius: 3px;
    margin-top:10px;
    height: 13em;
}
.bank-top{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.bank-top h2{
    font-size: 20px;
}
.banking-content{
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}
.box{
    width: 6.5em;
    height: 4em;
    background-color:#54545421;
    margin: 20px;
    text-align: center;
    border-radius: 3px;
}
.box i{
    padding:10px;
}
.box p{
    font-size: 15px;
}
.spending{
    background-color: white;
    border-radius: 3px;
    margin-top:10px;
}
.spend-top{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.spend-top h2{
    font-size: 20px
}
.spend-content{
    margin-left: 20px;
    margin-right: 20px;
    height: 3.5em;
}
.spend-content h3{
    font-size: 15px;
    font-weight: 500;
}
.spend-content .bar-container{
    display: block;
    width: 34em;
    height: 0.5em;
    background-color: #5454543e;
    margin-top: 5px;
    border-radius: 3px;
    border-inline-end-color: #1ed760
}
.bar1{
    display: block;
    width: 60%;
    height: 0.5em;
    background-color: #1ed760;
    border-radius: 3px;
}
.bar2{
    display: block;
    width: 45%;
    height: 0.5em;
    background-color:#003657;
    border-radius: 3px;
}
